<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<add key="DBCONN" value="Data Source=reslab-01-06;Initial Catalog=Resorts;Integrated Security=True;MultipleActiveResultSets=True"/>
		<add key="ADMIN" value="Adm1n"/>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
