USE [master]
GO
/****** Object:  Database [Resorts]    Script Date: 04/19/2018 14:57:17 ******/
CREATE DATABASE [Resorts] ON  PRIMARY 
( NAME = N'Resorts', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\Resorts.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Resorts_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\Resorts_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Resorts].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Resorts]
GO
/****** Object:  Table [dbo].[URL_MASTER]    Script Date: 04/19/2018 14:57:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[URL_MASTER](
	[URLID] [int] NOT NULL,
	[CATEGORY] [varchar](200) NULL,
	[URL] [varchar](1000) NULL,
	[REMARKS] [varchar](200) NULL,
	[ADDED_BY] [varchar](200) NULL,
	[ADDED_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[URLID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[URL_MASTER] ([URLID], [CATEGORY], [URL], [REMARKS], [ADDED_BY], [ADDED_DATE]) VALUES (1, N'Study', N'http://www.educationtimes.com/', N'Education Times', N'Mohit Agarwal', CAST(0x0000A8C700000000 AS DateTime))
/****** Object:  Table [dbo].[ROOMS_MASTER]    Script Date: 04/19/2018 14:57:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ROOMS_MASTER](
	[ROOM_MASTER_ID] [int] NOT NULL,
	[LOCATION] [varchar](100) NULL,
	[ROOM_TYPE] [varchar](50) NULL,
	[ROOM_NUMBER] [int] NULL,
	[ROOM_COST] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ROOM_MASTER_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[ROOMS_MASTER] ([ROOM_MASTER_ID], [LOCATION], [ROOM_TYPE], [ROOM_NUMBER], [ROOM_COST]) VALUES (1, N'Agra', N'Normal', 5, 500)
INSERT [dbo].[ROOMS_MASTER] ([ROOM_MASTER_ID], [LOCATION], [ROOM_TYPE], [ROOM_NUMBER], [ROOM_COST]) VALUES (2, N'Agra', N'Delux', 6, 1000)
INSERT [dbo].[ROOMS_MASTER] ([ROOM_MASTER_ID], [LOCATION], [ROOM_TYPE], [ROOM_NUMBER], [ROOM_COST]) VALUES (3, N'Jhansi', N'Normal', 6, 600)
/****** Object:  Table [dbo].[ROOM_BOOK]    Script Date: 04/19/2018 14:57:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ROOM_BOOK](
	[ROOM_ID] [int] NOT NULL,
	[ROOM_MASTER_ID] [int] NULL,
	[LOCATION] [varchar](100) NULL,
	[ROOM_TYPE] [varchar](50) NULL,
	[VISITOR_NAME] [varchar](100) NULL,
	[VISITOR_MOB] [varchar](10) NULL,
	[VISITOR_EMAIL] [varchar](50) NULL,
	[DATE_FROM] [datetime] NULL,
	[DATE_TO] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ROOM_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[ROOM_BOOK] ([ROOM_ID], [ROOM_MASTER_ID], [LOCATION], [ROOM_TYPE], [VISITOR_NAME], [VISITOR_MOB], [VISITOR_EMAIL], [DATE_FROM], [DATE_TO]) VALUES (1, 1, N'Agra', N'Normal', N'Mohit Agarwal', N'9899012826', N'26.mohit@gmail.com', CAST(0x0000A8C700000000 AS DateTime), CAST(0x0000A8C900000000 AS DateTime))
INSERT [dbo].[ROOM_BOOK] ([ROOM_ID], [ROOM_MASTER_ID], [LOCATION], [ROOM_TYPE], [VISITOR_NAME], [VISITOR_MOB], [VISITOR_EMAIL], [DATE_FROM], [DATE_TO]) VALUES (2, 1, N'Agra', N'Normal', N'Mohit Agarwal', N'9899012826', N'26.mohit@gmail.com', CAST(0x0000A8C600000000 AS DateTime), CAST(0x0000A8CB00000000 AS DateTime))
INSERT [dbo].[ROOM_BOOK] ([ROOM_ID], [ROOM_MASTER_ID], [LOCATION], [ROOM_TYPE], [VISITOR_NAME], [VISITOR_MOB], [VISITOR_EMAIL], [DATE_FROM], [DATE_TO]) VALUES (3, 1, N'Agra', N'Normal', N'Amit Kumar', N'9811012819', N'amit@test.com', CAST(0x0000A8C600000000 AS DateTime), CAST(0x0000A8CB00000000 AS DateTime))
/****** Object:  Table [dbo].[CAT_MASTER]    Script Date: 04/19/2018 14:57:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CAT_MASTER](
	[CATID] [int] NOT NULL,
	[CATEGORY] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[CATID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CAT_MASTER] ([CATID], [CATEGORY]) VALUES (1, N'Study')
INSERT [dbo].[CAT_MASTER] ([CATID], [CATEGORY]) VALUES (2, N'Food')
INSERT [dbo].[CAT_MASTER] ([CATID], [CATEGORY]) VALUES (3, N'Articles')
